- name: Install Rust Toolchains
  block:
    - name: Check if cargo is installed
      ansible.builtin.command: which cargo
      register: cargo_check
      ignore_errors: true
      changed_when: false
    - name: Initialize Rust
      command: "{{ homebrew_brew_bin_path }}/rustup-init -y"
      when: cargo_check.rc != 0
    - name: Install Stable Rust
      command: "{{ homebrew_brew_bin_path }}/rustup toolchain install stable"
    - name: Install Nightly Rust
      command: "{{ homebrew_brew_bin_path }}/rustup toolchain install nightly"
- name: Install Cargo Binaries
  block:
    - name: "Install Cargo Binaries"
      loop: "{{ cargo_installed_binaries }}"
      command: "cargo install {{ item }}"
- name: Upgrade Cargo Binaries
  block:
    - name: "Upgrade Cargo Binaries"
      command: "cargo install-update -ai"
    - name: "Upgrade Cargo GitHub Binaries"
      command: "cargo install-update -aig"
